body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 0;
    padding: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0; /* Adjust if needed */
}

thead {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    height: 50px;
}

tr:nth-child(even){background-color: #f9f9f9;}

tr:hover {background-color: #e8e8e8;}
