<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>IoTBay Application</display-name>

    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Context Parameters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <!-- Servlet and Servlet Mapping -->
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>uts.isd.controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>uts.isd.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>uts.isd.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>uts.isd.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeRegistrationDetailsServlet</servlet-name>
        <servlet-class>uts.isd.controller.ChangeRegistrationDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeRegistrationDetailsServlet</servlet-name>
        <url-pattern>/ChangeRegistrationDetailsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>uts.isd.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewActivityLogsServlet</servlet-name>
        <servlet-class>uts.isd.controller.ViewActivityLogsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewActivityLogsServlet</servlet-name>
        <url-pattern>/ViewActivityLogsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listProducts</servlet-name>
        <servlet-class>uts.isd.controller.ListProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listProducts</servlet-name>
        <url-pattern>/listProducts</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>uts.isd.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>updateCart</servlet-name>
        <servlet-class>uts.isd.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCart</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>viewCart</servlet-name>
        <servlet-class>uts.isd.controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewCart</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>saveOrder</servlet-name>
        <servlet-class>uts.isd.controller.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveOrder</servlet-name>
        <url-pattern>/saveOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>uts.isd.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listOrders</servlet-name>
        <servlet-class>uts.isd.controller.ListOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listOrders</servlet-name>
        <url-pattern>/listOrders</url-pattern>
    </servlet-mapping>

</web-app>
